@import "../../color.scss";

.button {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: black;

}

.login {
    padding: 30px;
    border: 1px solid $fourthColorTrans;
    border-radius: 20px;
    background-color: $fourthColorTrans;
}

.forgot:hover {
    color: $secondaryColor !important;
}