@import "../../color.scss";

.button {
    background-color: $primaryColor;
    border-color: $primaryColor;
    color: black;
}

.login {
    padding: 50px;
    border: 1px solid $thirdColor;
    border-radius: 20px;
    background-color: $fourthColor;
}