@import "../../app.scss";
// @import url("../../App.css");

.inicio {
    border: 1px solid #907a5f;
    margin: 5px;
}

.foto-inicio {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.firma {
    height: 230px;
}

.encabezado {
    margin-top: 120px;
}

@media screen and (min-width: 1080px) {
    .big-screen {
        background-image: url('../../../images/perfil.jpeg');
        background-size: cover;
    }

    .imagen {
        display: none;
    }

    .firma {
        top: 250px;
        //height: 280px;
    }

    .encabezado {
        margin-top: 40px;
    }

    .contact {
        background-image: url('../../../images/fondo-contacto.png');
        background-size: cover;
    }

    .navbar {
        background: rgba(215, 215, 215, 0.50);
    }
}

@media screen and (max-width: 1079px) {
    .firma {
        top: 310px;
        height: 200px;
    }

    .encabezado {
        margin-top: 135px;
    }

    .big-screen {
        background-image: url('../../../images/textura.jpg');
        background-size: cover;
    }

    .foto {
        height: 100px;
    }

    .contact {
        background-image: url('../../../images/fondo-contacto-mobile.png');
        background-size: cover;
    }
}

.prueba {
    border: 1px solid red;
    color: red;
}

.form {
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    width: 330px;
    background: rgba(255, 255, 255, 0.55);
}

.link:hover {
    animation-name: Getbig;
    animation-fill-mode: both;
    cursor: pointer;
    color: $marron800 !important;
}

.link:active {
    color: $marron800 !important;
}

@keyframes Getbig {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}