.card-all-opinions {
    border: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    margin: 20px 20px 0px 20px;
    padding: 20px 20px 0px 20px;
    color: #F1F0E8;
    max-width: 450px;
    max-height: 450px;
    backdrop-filter: blur(2px);
    border-bottom: 0px;
}

.footer-all-opinions {
    border: 1px solid white;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 20px 20px 20px;
    max-width: 450px;
    height: 80px;
    border-top: 0px;
    backdrop-filter: blur(2px);
    padding-bottom: 15px;
}

@media screen and (max-width: 1079px) {
    .card-all-opinions {
        max-width: 350px;
        max-height: 420px;
    }

    .footer-all-opinions {
        max-width: 350px;
        height: 80px;
    }

    .testiminio {
        font-size: 0.875rem;
        /* 14px */
        line-height: 1.25rem;
        /* 20px */
    }
}