.card-all-opinions {
    border: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    margin: 20px 20px 0px 20px;
    padding: 20px 20px 0px 20px;
    color: #F1F0E8;
    width: 310px;
    height: 250px;
    backdrop-filter: blur(2px);
    border-bottom: 0px;
}

.footer-all-opinions {
    border: 1px solid white;
    border-radius: 0px 0px 20px 20px;
    margin: 0px 20px 20px 20px;
    width: 310px;
    height: 80px;
    border-top: 0px;
    backdrop-filter: blur(2px);
    padding-bottom: 15px;
}

@media screen and (max-width: 1079px) {
    .card-all-opinions {
        width: 250px;
        height: 180px;
    }

    .footer-all-opinions {
        width: 250px;
        height: 80px;
    }
}