$rosaOscuro100: #c29e9b;
$blancoRoto200: #F1F0E8;
$beige300: #EEE0C9;
$azulClaro400: #ADC4CE;
$azulOscuro500: #96B6C5;
$rosaClaro700: #f1dede;
$marron800: #907a5f;
$verde900: #646f66;
$rosaTransparente: #f1dedebf;

button {
    &.ant-btn {
        background-color: $blancoRoto200 !important;
        color: $verde900 !important;
        border: none;

        &:hover {
            background-color: $beige300 !important;
        }
    }

}

input {
    &.ant-input {
        font-family: 'LXGW WenKai TC';
    }
}

div {
    &.ant-card {
        background-color: rgba(255, 255, 255, 0.226);
    }
}