@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'AlexBrush';
        src: url('../public/fonts/AlexBrush.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'SpecialElite';
        src: url('../public/fonts/SpecialElite.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}